@model MvcOnlineTicariOtomasyon.Models.Sınıflar.SatisHareket
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Satış İşlemi Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Satisid)
        @Html.LabelFor(x => x.Urun)
        @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.UrunList, new { @class = "form-control" })
        <br />
        @Html.Label("Cari")
        @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.CariList, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Personel)
        @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.PersonelList, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Adet)
        @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Fiyat)
        @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.ToplamTutar)
        @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Tarih)
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <button class="btn btn-warning">Güncelle</button>
}

